h2{color:navy;}
table{
    margin: 15px;
    font-size: 11px;
    text-align: left;
     border-collapse:collapse;
    border-spacing: 3px;
   }
th{
    background-color: navy;
    color:white;
    padding: 10px;
    font-size: 2 em;
    text-align: center;
    border: 2px solid white;
}
td{
    border: 2px solid white;
    padding: 5px;
    background-color: lightgrey ;
}
td.suspenso{
    font-weight: bold;
    color: red ;
}